.education {
  margin-bottom: 10px;

  .education-item {
    margin-bottom: 10px;
 font-family: 'Calibri';
 text-align:justify;
    h3 {
      margin: 0;
    }

    p {
      margin: 5px 0;
      font-style: italic;
      
    }
  }
}